.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Navbar {
  display: flex;
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#383838 0,#000000 100%) !important; /* override background image gradient w/ flat color */
}

.smLogo {
  height: 32px;
}
